/* body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Montserrat', sans-serif;
} */

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}


p {
  font-family: 'Ubuntu', sans-serif;
}

#title {
  background-color: #ff4c68;
  font-family: 'Ubuntu', sans-serif;
}
